/* base styles */

* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../images/body-bg.jpg") no-repeat fixed center top #FFFFFF;
    color: #7F7F7F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 17px;
}

img {
    border: 0 none;
}

.container {
    margin: 30px auto 0;
    position: relative;
    text-align: left;
    width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
}


/* header section */

header {
    background: url("../images/header-bg.png") repeat scroll left top #fff;
    border-bottom: 2px solid #e0e0e0;
    position: relative;
    z-index: 10;
}

.top_head {
    overflow: hidden;
    position: relative;
}

.logo {
    float: left;
    padding: 37px 0 0 39px;
}

#search {
    float: right;
    margin: 21px 41px 0 0;
    text-align: right;
}

#search form {
    float: right;
}

#search form input[type="text"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E0E0E0;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    height: 15px;
    padding: 5px;
    width: 129px;
}

#search form input[type="submit"] {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-left-width: 0px;
    color: #383838;
    cursor: pointer;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    padding: 0;
    width: 64px;
}

#social {
    float: right;
    list-style: none outside none;
    margin: 0 30px 0 0;
    padding: 0;
}

#social li {
    float: left;
    padding: 0 0 0 5px;
}

#social li a:hover img {
    margin-top: 1px;
}


/*navigation menu*/

nav {
    background-color: #00942f;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #FFFFFF;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding: 4px 10px 4px 11px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a:hover,
nav ul li.selected a {
    background: none repeat scroll 0 0 #353535;
}

#submenu {
    background: -moz-linear-gradient(#ffffff, #f6f6f6);
    /* FF 3.6+ */
    background: -ms-linear-gradient(#ffffff, #f6f6f6);
    /* IE10 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f6f6f6));
    /* Safari 4+, Chrome 2+ */
    background: -webkit-linear-gradient(#ffffff, #f6f6f6);
    /* Safari 5.1+, Chrome 10+ */
    background: -o-linear-gradient(#ffffff, #f6f6f6);
    /* Opera 11.10 */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6');
    /* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6')";
    /* IE8+ */
    background: linear-gradient(#ffffff, #f6f6f6);
    /* the standard */
    border: 1px solid #E0E0E0;
    height: 34px;
    margin: 20px 40px;
}

#submenu ul {
    margin: 0;
    padding: 0;
}

#submenu li {
    float: left;
    line-height: 1em;
    list-style: none outside none;
    margin: 0;
    position: relative;
}

#submenu li a {
    background: url("../images/smenup.png") no-repeat scroll 0 9px transparent;
    border-right: 1px solid #E0E0E0;
    color: #383838;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    margin: 0 0 0 19px;
    padding: 9px 18px 11px 24px;
    text-decoration: none;
    text-transform: uppercase;
}

#submenu li a:hover {
    background-image: url("../images/smenua.png");
}


/* main section */

#main {
    background-color: #fff;
    padding: 20px 0;
}

#content {
    overflow: hidden;
}

#content #left,
#content #right {
    border: 1px solid #E9E9E9;
    float: left;
    margin: 0 2%;
    width: 50%;
}

#content #right {
    margin-left: 0;
    width: 42%;
}

#content h3 {
    background: -moz-linear-gradient(#ffffff, #F6F6F6);
    /* FF 3.6+ */
    background: -ms-linear-gradient(#ffffff, #F6F6F6);
    /* IE10 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #F6F6F6));
    /* Safari 4+, Chrome 2+ */
    background: -webkit-linear-gradient(#ffffff, #F6F6F6);
    /* Safari 5.1+, Chrome 10+ */
    background: -o-linear-gradient(#ffffff, #F6F6F6);
    /* Opera 11.10 */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#F6F6F6');
    /* IE6 & IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#F6F6F6')";
    /* IE8+ */
    background: linear-gradient(#ffffff, #F6F6F6);
    /* the standard */
    border-bottom: 1px solid #E0E0E0;
    color: #3C3C3C;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    padding: 11px 0 12px 20px;
    text-transform: uppercase;
}

#content ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#product-holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#content #left #product-holder .product:hover {
    background-color: #fbfbfb;
}

#content #right ul li {
    border-top: 1px solid #E7E7E7;
    overflow: hidden;
}

#content #right ul li:hover {
    background-color: #fbfbfb;
}

#content #right ul li:first-child {
    border-width: none;
}

#content #left #product-holder .product .img {
    text-align: center;
}

#content #right ul li .img {
    background-color: #FFFFFF;
    float: left;
    height: 94px;
    text-align: center;
    width: 113px;
}

#content #left #product-holder .product .img img {
    height: 128px;
    width: 128px;
}

#content #right ul li .img img {
    height: 70px;
    margin-top: 11px;
    width: 70px;
}

#content #left #product-holder .product .info {
    padding: 17px 20px 0 19px;
}

#content #right ul li .info {
    float: left;
    overflow: hidden;
    padding: 17px 0 0 21px;
    width: 164px;
}

#content ul li .info .title {
    color: #4B4B4B;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    width: 150px;
}

#content ul li .info .title:hover {
    color: #049733;
}

#content #left #product-holder .product .info p {
    color: #7F7F7F;
    font-size: 11px;
    line-height: 16px;
    padding-top: 3px;
}

#content #left #product-holder .product .info .price {
    background: none repeat scroll 0 0 #F7F7F7;
    color: #383838;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin: 17px 0 10px;
    padding: 6px 0 6px 8px;
}

#content #right ul li .info .price {
    color: #383838;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding-top: 25px;
}

#content #left #product-holder .product .info .price .st {
    color: #7F7F7F;
    font-size: 11px;
    line-height: 16px;
    margin-right: 3px;
}

#content #right ul li .info .price .usual,
#content #right ul li .info .price .special {
    color: #7F7F7F;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    padding-right: 6px;
    text-decoration: line-through;
}

#content #right ul li .info .price .special {
    color: #FD7A01;
    font-weight: bold;
    text-decoration: none;
}

#content #left #product-holder .product .info .actions {
    overflow: hidden;
}

#content #left #product-holder .product .info .actions a {
    border: 1px solid #E0E0E0;
    color: #fd7a01;
    display: block;
    float: right;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    padding: 5px;
    text-decoration: none;
}

#content #left #product-holder .product .info .actions a:first-child {
    color: #009832;
    float: left;
}


/* footer section */

footer {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid #E0E0E0;
    margin: 0 0 5px;
    padding: 15px 0 15px 20px;
}

footer #privacy {
    color: #9B9B9B;
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
    width: 100%;
}

footer a {
    color: #9B9B9B;
    text-decoration: none;
}

#cart-holder li {
    display: flex;
    justify-content: space-around;
}

#right p {
    float: right;
}